.idea/
*/src-gen/
*/xtend-gen/
**/bin/
**/test-bin/
**/model/generated/
!.gitkeep
.antlr-generator-*-patch.jar
# Below is only needed when Git repo is inside the Eclipse workspace
.metadata/
*.xtendbin
/.m2/
build/
!**/src/**/build
!**/xtend-gen/**/build
bin/
target/
.gradle/
*._trace
*.xtendbin
org.eclipse.buildship.core.prefs
/.DS_Store
